<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
  <div class="d-flex">
    <div class="sider">
    <a class="logo d-block" href="assignment.html">
      <h1 class=" hide-text">ANSWER</h1>
    </a>
      <ul class="list-unstyled font-weight-bold">
        <li>
          <a class="d-flex" href="">
            <i class="material-icons icon">
              assessment
            </i>
            <p class="font-1">Dashboard</p>
          </a>
        </li>
        <li >
          <a class="d-flex" href="">
            <i class="material-icons icon">
              question_answer
            </i>
            <p class="font-1">Question</p>
          </a>
        </li>
        <li >
          <a class="d-flex" href="assignment.html">
            <i class="material-icons icon">
              assignment
            </i>
            <p class="font-1">Assignment</p>
          </a>
        </li>
        <li >
          <a class="d-flex" href="">
            <i class="material-icons icon">
              video_library
            </i>
            <p class="font-1">Course</p>
          </a>
        </li>
        <li >
          <a class="d-flex" href="admin.html">
            <i class="material-icons icon">
              supervisor_account
            </i>
            <p class="font-1">Admin</p>
          </a>
        </li>
        <li >
          <a class="d-flex" href="">
            <i class="material-icons icon">
              settings
            </i>
            <p class="font-1">Settings</p>
          </a>
        </li>
      </ul> 
      <section class="user d-flex">
        <img class="userPic bg-cover mr-3" src="./assets/images/andychen.jpeg" alt="">
        <p class="userName font-1">Andy Chen  <br>
          <span class="userEmail">andy0401@mail.com</span> 
        </p>
      </section>
          
      
    </div>
    <div class="container-fluid">
      <%- contents %>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
