.d-flex{
    display: flex;
}

.font-1{
    font-size: 16px;
    line-height: 24px;
}

.font-2{
    font-size: 12px;
    line-height: 24px;
}

.font-3{
    font-size: 14px;
    line-height: 21px;
}


