@import "functions";
@import "./helpers/variables";
@import "bootstrap";

@import "./base"; 
@import "./helpers";
@import "./mixin";
@import "./utilities";



.userPic{
  @include circle(40px);
}

// layout
.sider{
  width: 296px;
  height:100vh; 
  background-color: #EDF4EE;
  padding-left: 34px;
  position: relative;
    .logo{
      height: 40px;
      width: 151px;
      margin-bottom: 32px;
      margin-top: 32px;
      background-image: url(../images/logo.svg);
    }
    .icon{
      height: 24px;
      width: 24px;
      margin-right: 18px;
    }
    li{
      width: 296px;
      margin-bottom: 28px;
      height: 24px;
      margin-left: -32px;
      padding-left: 32px;
      &:hover{
        border-left-style:solid;
        border-left-color:#2A8356;
      }
    }
  
    a{
      text-decoration:none;   
      color: black;   
      &:hover{
        text-decoration:none;   
        color: #2A8356; 
      }
    }
    .user{
      position: absolute;
      left: 32px;
      bottom: 32px;
      .userName{
        font-weight: 700;
      }
      .userEmail{
        font-weight: 100;
        font-size: 14px;
        line-height: 24px;
      }
    }   
  }

  // Assignment

  .nav{
    height: 93px;
    padding: 32px;
    .assignmentTitle{
      font-size: 24px;
      line-height: 33px;
      margin-right: 46px;
    }
    .icon-down{
      height: 24px;
      width: 24px;
      margin-top:15px;
    }
    .icon-search{
      height: 24px;
      width: 24px;
      margin-right: 26.03px;
    }
  }

  .assignmentList{
    a{
      &:hover{
      background-color: #EDF4EE;
      }
      &:link{
        background-color: #EDF4EE;
      }
    }
    .title{
      padding:12px 27px 12px 15px;
      background-color: #EDF4EE;
      height: 90px;
    }


  }


  // admin

  .newadmin-title{
    font-style: 20px;
    line-height: 33px;
    font-weight: 600;
  }

  .newadmin-blocksize{
    height: 51px;
    border: 1px solid grey;
  }

  .account-content{
    font-style: 14px;
    line-height: 24px;
    margin-bottom: -5px;
  }

  .verification-content{
    font-style: 16px;
    line-height: 33px;
  }

  .accesslevel-content{
    font-style: 16px;
    line-height: 24px;
  }

  .adminpic{
    width: 141px;
    height: 141px;
  }
  
  .adminview{
    padding: 32px;
    .number{
      height: 24px;
    }
    .name{
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
      margin-top: -8px;
    }
    .verified{
      width: 64px;
      height: 25px;
      background-color: #EDF4EE;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
    }
    .dropdown{
      margin-top: -40px;
    }
    .deactivate{
      width: 145px;
      height: 35px;
      line-height: 35px;
      border: 1px solid #E3006E;
      text-align: center;
      &:hover{
        background-color: #E3006E;
        p{
          color:white;
        }
      }
      p{
        color: #E3006E;
      }
    }
    .edit{
      width: 92px;
      height: 35px;
      line-height: 35px;
      border: 1px solid #2A8356;
      text-align: center;
      &:hover{
        background-color: #2A8356;
        p{
          color:white;
        }
      }
      p{
        color: #2A8356;
      }
    }
  }
  .adminview-items{
    width: 100%;
  }